<h1> All of our Pets! </h1>


<% @pets.each do |pet| %>
  <% photo = pet.new_photo %>
  <ul>
    <h3><li> <%= pet.instagram_handle %><br>
      <%= link_to image_tag(photo.url), pet_path(pet) %>
    </li></h3>
  </ul>
<% end %>
