<h1> Welcome <%current_user.first_name %> </h1>

<p> <%= link_to "My Profile", user_path(current_user) %> <p>
<p> <%= link_to "Find a Pet to Cuddle With", new_like_path %> <p>
<p> <%= link_to "Following", cuddling_path %> <p>
