<h1> Welcome <%current_user.first_name %> </h1>

<p> <%= link_to "My Profile", user_path(current_user) %> <p>
<p> <%= link_to "Find a Pet to Cuddle With", new_like_path %> <p>
<p> <%= link_to "See All Pets", pets_path %></p>
<% Pet.random_photo_for_each_pet.shuffle.each do |photo| %>
  <%= link_to image_tag(photo.url), photo_path(photo) %>
<% end %>
