<div class="jumbotron jumbotron-fluid" style="padding:0; padding-bottom: 10px; opacity: 0.8;">
    <div class="container">
      <h1 class="display-3" style="font-family: 'Cookie', cursive; font-size: 800%; padding: 0;">Cuddlegram</h1>
      <p class="lead">Welcome to Cuddlegram! Sign up or Log in to cuddle with adorable pets!</p>
  </div>
