<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Cuddlegram</h1>
    <p class="lead">Welcome to Cuddlegram! Sign up or Log in to cuddle with adorable pets!</p>
</div>
