<h1> test One Photo For Each Pet </h1>

<% photos = Pet.random_photo_for_each_pet.shuffle %>

<% photos.each do |photo_object| %>
  <%= link_to image_tag(photo_object.url), photo_path(photo_object) %>
  <h4><%= photo_object.pet.instagram_handle %></h4>
<% end %>
