/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .everywhere-else {
   background-color: coral;
 }

 .landing-bg {
     background-image: url("https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/20583168_108299806540330_8006561059768893440_n.jpg");
     background-repeat: no-repeat;
 }
